numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
networkx==3.3
scikit-learn==1.4.2
ipython==8.24.0

torch==2.3.1
torch-geometric==2.5.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-cluster==1.6.3
pyg-lib==0.4.0